.best-room {
    position: relative;
    overflow: hidden;
    margin-bottom: 2.5rem;

    &__img {
        width: 100%;
    }

    &:hover &__caption {
        background: rgba(0,0,0, 0.6);
    }
    
    &__caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        padding: 3rem 3rem;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.1) 50%, transparent 100%);
        transition: background-color 0.3s;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 400;
        border-bottom: 2px solid var(--color-secondary);
        margin-bottom: 0.5rem;
        padding-bottom: 0.7rem;
        position: relative;
        transform: translateY(23rem);
        transition: transform 0.4s ease-out;
        transition-delay: 0.45s;
    }

    &:hover &__title {
        transform: translateY(0);
        transition-delay: 0.1s;
    }

    &__price {
        font-size: 2.4rem;
        margin-bottom: 1rem;
        font-weight: 400;
        transform: translateY(23rem);
        transition: transform 0.4s ease-out;
        transition-delay: 0.4s;

        span {
            font-size: 1.4rem;
        }
    }

    &:hover &__price {
        transform: translateY(0);
        transition-delay: 0.2s;
    }

    &__desc {
        position: relative;
        font-size: 1.4rem;
        line-height: 1.5;
        margin-top: 3rem;
        margin-bottom: 5rem;
        transform: translateY(3rem);
        transition: transform 0.3s, opacity 0.3s;
        transition-delay: 0.2s;
        opacity: 0;
    }

    &:hover &__desc {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.4s;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--color-secondary);
        font-size: 1.6rem;
        opacity: 0;
        transition: opacity 0.3s;

        &:hover i {
            transform: translateX(2rem);
            opacity: 0;
            transition: all 0.2s;
        }
    }

    &:hover &__link:link,
    &:hover &__link:visited {
        opacity: 1;
        transition-delay: 0.4s;
    }
}