.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;        
        display: inline-block;
        border-radius: 1rem;
        //font-size: 1.6rem;
        position: relative;
        transition: all 0.2s;
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        outline: inherit;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
    }

    &--primary {
        background-color: var(--color-secondary);
        color: #fff;
       
    }

    &--secondary {
        background-color: var(--color-primary);
        color: var(--color-secondary);
        font-size: 1.4rem;
        font-weight: 400;
    }

    &--small {
        letter-spacing: 1px;
        font-size: 1.3rem;
        padding: 0.8rem 1.8rem;
    }

    &--medium {
        letter-spacing: 2px;
        font-size: 1.6rem;
        padding: 1rem 2rem;
    }

    &--large {
        letter-spacing: 3px;
        font-size: 2rem;
        padding: 1.2rem 3rem;
    }
}