.composition {
    position: relative;    

    &__photo {
        width: 50%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
        border-radius: 2px;
        position: absolute;
        transition: all .3s;
        z-index: 1;
        outline-offset: 2rem;

        &--p1 {
            top: 8rem;
            left: 0;
            
            
        }
        &--p2 {
            top: 12rem;
            right: 3rem;
            
        }
        &--p3 {
            top: 22rem;
            left: 20%;
        }

        &:hover {
            transform: scale(1.1) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
            z-index: 2;
            outline: 1rem solid var(--color-secondary);
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.9);
    }    
}