
.divider {
    width: 25rem;
    height: 2px;
    background-color: var(--color-secondary);
    margin: 2rem auto;  
    position: relative;
    overflow: visible;
    display: block;
    border: 0;
    margin-top: 3rem;
    margin-bottom: 6rem;

    &:before {
        content: " ";
        width: 7rem;
        height: 2px;
        background-color: var(--color-secondary);
        position: absolute;
        top: -1.1rem;
        left: 50%;
        transform: translateX(-50%);        
    }

    &:after {
        content: " ";
        width: 7rem;
        height: 2px;
        background-color: var(--color-secondary);
        position: absolute;
        top: 1.2rem;
        left: 50%;
        transform: translateX(-50%);        
    }

    &--m-bottom {
        margin-bottom: 6rem;       
    }
}
