.feature-box {
    color: var(--color-grey-dark-3);
    background-color: rgba($color:#fff, $alpha: .7);
    padding: 3rem 2rem 2rem 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    //flex: 1 0 98%;
    width: 50rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .3);

    transition: transform .2s;

    &:hover {
        transform: translateY(-1rem);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .5);
    }

    
   @include breakpoint(tablet) {
        flex: 0 0 48%;        
   }
   
   @include breakpoint(laptop) {
       flex: 0 0 23%;     
   }

    &__tittle {
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
        margin: 2rem 0;
        text-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    }

    &__icon {
        display: block;
        margin: 1rem auto;
        width: 5rem;
        height: 5rem;
        fill: var(--color-secondary);
    }

    &__text {
        font-size: 1.6rem;
        text-align: justify;        
    }
}