.generic-content-container {
    padding: 2rem 4rem;
    margin-bottom: 1rem;

    &--box-shadow {
        box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.3);

    }

    p {
        font-size: 1.6rem;
        line-height: 1.8;
        font-weight: 300;
        margin: 0 0 1.8rem 0;
    }

    p a {
        font-weight: 700;
    }

    .quote {
        padding: 1rem 0;
        margin: 1rem 0;
        font-size: 1.8rem;
        font-weight: 400;
        font-style: italic;
        line-height: 2;
        border-top: 1px solid var(--color-grey-dark-3);
        border-bottom: 1px solid var(--color-grey-dark-3);
        margin-bottom: 5rem;
        color: var(--color-grey-dark-3);
    }
}
