*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;    
}

button {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}