body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: var(--color-grey-dark-1);
}

.headline-primary {
    color: #fff;
    text-transform: uppercase;

    &--main {
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
        text-shadow: 0 2px 3px rgba(0, 0, 0, .2);        

        span {
            color: var(--color-secondary);
            font-size: 6.5rem;
            font-weight: 600;
        }
    }

    &--sub {
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.5rem;
        text-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    }
}

.headline-secondary {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--color-secondary);    
}

.headline-tertiary {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 0 2px 0 rgba(var(--color-primary-rgb), 0.2);        
    color: var(--color-primary);
    padding: 2rem 0;    
}

//=========================================
//      SECTION TITLE

.section-title {
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-primary);
    text-transform: uppercase;

    span {
        font-size: 4.5rem;
        font-weight: 600;
        color: var(--color-secondary);
    }

    &--white {
        color: #fff;

        // span {
        //     color: #fff;
        // }
    }
}

.section-subtitle {
    color: var(--color-primary);
    font-size: 2.5rem;
    font-weight: 300;
    max-width: 80rem;
    display: inline-block;
    margin-top: -2rem;
}