.u-center-text {
  text-align: center;
}

.u-margin-bottom {

  &--small {
    margin-bottom: 2rem;
  }

  &--medium {
    margin-bottom: 4rem;
  }

  &--large {
    margin-bottom: 6rem;
  }
}

.u-margin-top {

  &--small {
    margin-top: 2rem;
  }

  &--medium {
    margin-top: 4rem;
  }

  &--large {
    margin-top: 6rem;
  }
}
