.large-hero {
    height: 95vh;
    position: relative;
    background-image: url(../images/large-hero.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1rem solid var(--color-primary);
    
    &__text-box {
        text-align: center;
        //background-color: rgba(var(--color-primary-rgb), 0.5);
        padding: 2rem 4rem;
        margin-top: 10rem;        
    }    
}

.reservation {

    position: relative;
    margin-top: -4.5rem;
    z-index: 99;

    
    &__search-form {
        background: #fff;
        box-shadow: 0 2px 10px rgba(0,0,0, .2);
        display: flex;
        justify-content: space-between;
        padding: 3rem 4.5rem;
        max-width: 117rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -1.7rem;
            left: -1.7rem;
            border-left: transparent;
            border-top: transparent;
            border-bottom: #eaeaea;
            border-style: solid;
            border-width: 1.7rem;
            border-right: transparent;
            border-bottom-width: 3.5rem;
        }

        &::after {
            content: '';
            position: absolute;
            top: -1.7rem;
            right: -1.7rem;
            border-top: transparent;
            border-right: transparent;
            border-bottom: #eaeaea;
            border-style: solid;
            border-width: 1.7rem;
            border-left: transparent;
            border-bottom-width: 3.5rem;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        width: 80%;
    }

    &__item {
        position: relative;        
        width: 25%;
        padding: 0 1rem;
    }

    
    &__item-input {
        height: 4rem;
        width: 100%;
        min-width: auto;
        line-height: 4rem;
        padding-right: 2rem;
        padding-left: 0.8rem;
        border: 1px solid #cccccc;
        border-radius: 3px;
        font-family: inherit;
        font-size: 1.5rem;
        text-decoration: none;
        color: #7a7a7a;
        box-shadow: none;
        outline: 0;
    }

    &__item-button {
        position: absolute;
        top: 0;
        left: 0;
        text-align: right;
        cursor: pointer;
        display: inline-block;
        width: 100%;
        min-width: auto;
        line-height: 4rem;
        color: #aaaaaa;
        background: transparent;
        border-color: transparent;
        box-shadow: none;
        outline: 0;
    }

    &__item-icon {
        padding-right: 1rem;
    }

    &__button {
        box-shadow: none;
        outline: 0;
        
    }
}

.features {
    padding: 5rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(var(--color-primary-rgb), 0.85),
        rgba(var(--color-primary-rgb), 0.85)
    ), url(../images/large-hero--large-2x.jpg);
    background-size: cover;
    background-position: bottom;
}