@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin centerAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 1200px) { @content ; }
   }
    @else if $point == laptop {
      @media (min-width: 1000px) { @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 800px) { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 600px)  { @content ; }
   }
   @else if $point == mobileonly {
      @media (max-width: 400px)  { @content ; }
 
   }
 }