
:root {
    --color-primary: #2f5572;
    --color-primary-rgb: 47, 85, 114;
    --color-primary-transparent: rgba(47, 85, 114, 0.6);
    --color-secondary: #d59541;

    --color-grey-dark-1: #777; 
    --color-grey-dark-2: #999; 
    --color-grey-dark-3: #333;

    --color-grey-light-1: #f7f7f7;
    --color-grey-light-2: #eee;   

}