.wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.wrapper-flex {
    display: flex;
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;

   
}