:root {
  --color-primary: #2f5572;
  --color-primary-rgb: 47, 85, 114;
  --color-primary-transparent: rgba(47, 85, 114, 0.6);
  --color-secondary: #d59541;
  --color-grey-dark-1: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee; }

/*! Avalanche | MIT License | @colourgarden */
/**
 * SETTINGS
 */
/**
  * LOGIC aka THE MAGIC
  */
/**
  * GRID LAYOUT
  */
.grid {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  font-size: 0; }

.grid__cell {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  vertical-align: top;
  font-size: 1rem; }

.grid--center {
  text-align: center; }
  .grid--center > .grid__cell {
    text-align: left; }

.grid--middle > .grid__cell {
  vertical-align: middle; }

/**
  * GRID WIDTHS
  */
.\31\/2, .\32\/4 {
  width: 50%; }

.\31\/3 {
  width: 33.33333%; }

.\32\/3 {
  width: 66.66667%; }

.\31\/4 {
  width: 25%; }

.\33\/4 {
  width: 75%; }

@media screen and (max-width: 499px) {
  .\31\/2--thumb, .\32\/4--thumb {
    width: 50%; }
  .\31\/3--thumb {
    width: 33.33333%; }
  .\32\/3--thumb {
    width: 66.66667%; }
  .\31\/4--thumb {
    width: 25%; }
  .\33\/4--thumb {
    width: 75%; } }

@media screen and (min-width: 500px) and (max-width: 800px) {
  .\31\/2--handheld, .\32\/4--handheld {
    width: 50%; }
  .\31\/3--handheld {
    width: 33.33333%; }
  .\32\/3--handheld {
    width: 66.66667%; }
  .\31\/4--handheld {
    width: 25%; }
  .\33\/4--handheld {
    width: 75%; } }

@media screen and (min-width: 500px) {
  .\31\/2--handheld-and-up, .\32\/4--handheld-and-up {
    width: 50%; }
  .\31\/3--handheld-and-up {
    width: 33.33333%; }
  .\32\/3--handheld-and-up {
    width: 66.66667%; }
  .\31\/4--handheld-and-up {
    width: 25%; }
  .\33\/4--handheld-and-up {
    width: 75%; } }

@media screen and (max-width: 800px) {
  .\31\/2--pocket, .\32\/4--pocket {
    width: 50%; }
  .\31\/3--pocket {
    width: 33.33333%; }
  .\32\/3--pocket {
    width: 66.66667%; }
  .\31\/4--pocket {
    width: 25%; }
  .\33\/4--pocket {
    width: 75%; } }

@media screen and (min-width: 801px) and (max-width: 1024px) {
  .\31\/2--lap, .\32\/4--lap {
    width: 50%; }
  .\31\/3--lap {
    width: 33.33333%; }
  .\32\/3--lap {
    width: 66.66667%; }
  .\31\/4--lap {
    width: 25%; }
  .\33\/4--lap {
    width: 75%; } }

@media screen and (min-width: 801px) {
  .\31\/2--lap-and-up, .\32\/4--lap-and-up {
    width: 50%; }
  .\31\/3--lap-and-up {
    width: 33.33333%; }
  .\32\/3--lap-and-up {
    width: 66.66667%; }
  .\31\/4--lap-and-up {
    width: 25%; }
  .\33\/4--lap-and-up {
    width: 75%; } }

@media screen and (max-width: 1024px) {
  .\31\/2--portable, .\32\/4--portable {
    width: 50%; }
  .\31\/3--portable {
    width: 33.33333%; }
  .\32\/3--portable {
    width: 66.66667%; }
  .\31\/4--portable {
    width: 25%; }
  .\33\/4--portable {
    width: 75%; } }

@media screen and (min-width: 1025px) {
  .\31\/2--desk, .\32\/4--desk {
    width: 50%; }
  .\31\/3--desk {
    width: 33.33333%; }
  .\32\/3--desk {
    width: 66.66667%; }
  .\31\/4--desk {
    width: 25%; }
  .\33\/4--desk {
    width: 75%; } }

@media screen and (min-width: 1160px) {
  .\31\/2--widescreen, .\32\/4--widescreen {
    width: 50%; }
  .\31\/3--widescreen {
    width: 33.33333%; }
  .\32\/3--widescreen {
    width: 66.66667%; }
  .\31\/4--widescreen {
    width: 25%; }
  .\33\/4--widescreen {
    width: 75%; } }

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .\31\/2--retina, .\32\/4--retina {
    width: 50%; }
  .\31\/3--retina {
    width: 33.33333%; }
  .\32\/3--retina {
    width: 66.66667%; }
  .\31\/4--retina {
    width: 25%; }
  .\33\/4--retina {
    width: 75%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

button {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-grey-dark-1); }

.headline-primary {
  color: #fff;
  text-transform: uppercase; }
  .headline-primary--main {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }
    .headline-primary--main span {
      color: var(--color-secondary);
      font-size: 6.5rem;
      font-weight: 600; }
  .headline-primary--sub {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }

.headline-secondary {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--color-secondary); }

.headline-tertiary {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 0 2px 0 rgba(var(--color-primary-rgb), 0.2);
  color: var(--color-primary);
  padding: 2rem 0; }

.section-title {
  font-size: 4rem;
  font-weight: 400;
  color: var(--color-primary);
  text-transform: uppercase; }
  .section-title span {
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--color-secondary); }
  .section-title--white {
    color: #fff; }

.section-subtitle {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 300;
  max-width: 80rem;
  display: inline-block;
  margin-top: -2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom--small {
  margin-bottom: 2rem; }

.u-margin-bottom--medium {
  margin-bottom: 4rem; }

.u-margin-bottom--large {
  margin-bottom: 6rem; }

.u-margin-top--small {
  margin-top: 2rem; }

.u-margin-top--medium {
  margin-top: 4rem; }

.u-margin-top--large {
  margin-top: 6rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 1rem;
  position: relative;
  transition: all 0.2s;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  outline: inherit; }

.btn:active, .btn:focus {
  outline: none; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--primary {
  background-color: var(--color-secondary);
  color: #fff; }

.btn--secondary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 1.4rem;
  font-weight: 400; }

.btn--small {
  letter-spacing: 1px;
  font-size: 1.3rem;
  padding: 0.8rem 1.8rem; }

.btn--medium {
  letter-spacing: 2px;
  font-size: 1.6rem;
  padding: 1rem 2rem; }

.btn--large {
  letter-spacing: 3px;
  font-size: 2rem;
  padding: 1.2rem 3rem; }

.divider {
  width: 25rem;
  height: 2px;
  background-color: var(--color-secondary);
  margin: 2rem auto;
  position: relative;
  overflow: visible;
  display: block;
  border: 0;
  margin-top: 3rem;
  margin-bottom: 6rem; }
  .divider:before {
    content: " ";
    width: 7rem;
    height: 2px;
    background-color: var(--color-secondary);
    position: absolute;
    top: -1.1rem;
    left: 50%;
    transform: translateX(-50%); }
  .divider:after {
    content: " ";
    width: 7rem;
    height: 2px;
    background-color: var(--color-secondary);
    position: absolute;
    top: 1.2rem;
    left: 50%;
    transform: translateX(-50%); }
  .divider--m-bottom {
    margin-bottom: 6rem; }

.generic-content-container {
  padding: 2rem 4rem;
  margin-bottom: 1rem; }
  .generic-content-container--box-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  .generic-content-container p {
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: 300;
    margin: 0 0 1.8rem 0; }
  .generic-content-container p a {
    font-weight: 700; }
  .generic-content-container .quote {
    padding: 1rem 0;
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: italic;
    line-height: 2;
    border-top: 1px solid var(--color-grey-dark-3);
    border-bottom: 1px solid var(--color-grey-dark-3);
    margin-bottom: 5rem;
    color: var(--color-grey-dark-3); }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .3s;
    z-index: 1;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      top: 8rem;
      left: 0; }
    .composition__photo--p2 {
      top: 12rem;
      right: 3rem; }
    .composition__photo--p3 {
      top: 22rem;
      left: 20%; }
    .composition__photo:hover {
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 2;
      outline: 1rem solid var(--color-secondary); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.best-room {
  position: relative;
  overflow: hidden;
  margin-bottom: 2.5rem; }
  .best-room__img {
    width: 100%; }
  .best-room:hover .best-room__caption {
    background: rgba(0, 0, 0, 0.6); }
  .best-room__caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 3rem 3rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.1) 50%, transparent 100%);
    transition: background-color 0.3s; }
  .best-room__title {
    font-size: 2.4rem;
    font-weight: 400;
    border-bottom: 2px solid var(--color-secondary);
    margin-bottom: 0.5rem;
    padding-bottom: 0.7rem;
    position: relative;
    transform: translateY(23rem);
    transition: transform 0.4s ease-out;
    transition-delay: 0.45s; }
  .best-room:hover .best-room__title {
    transform: translateY(0);
    transition-delay: 0.1s; }
  .best-room__price {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    font-weight: 400;
    transform: translateY(23rem);
    transition: transform 0.4s ease-out;
    transition-delay: 0.4s; }
    .best-room__price span {
      font-size: 1.4rem; }
  .best-room:hover .best-room__price {
    transform: translateY(0);
    transition-delay: 0.2s; }
  .best-room__desc {
    position: relative;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-top: 3rem;
    margin-bottom: 5rem;
    transform: translateY(3rem);
    transition: transform 0.3s, opacity 0.3s;
    transition-delay: 0.2s;
    opacity: 0; }
  .best-room:hover .best-room__desc {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s; }
  .best-room__link:link, .best-room__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-secondary);
    font-size: 1.6rem;
    opacity: 0;
    transition: opacity 0.3s; }
    .best-room__link:link:hover i, .best-room__link:visited:hover i {
      transform: translateX(2rem);
      opacity: 0;
      transition: all 0.2s; }
  .best-room:hover .best-room__link:link,
  .best-room:hover .best-room__link:visited {
    opacity: 1;
    transition-delay: 0.4s; }

.feature-box {
  color: var(--color-grey-dark-3);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3rem 2rem 2rem 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 50rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  transition: transform .2s; }
  .feature-box:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5); }
  @media (min-width: 800px) {
    .feature-box {
      flex: 0 0 48%; } }
  @media (min-width: 1000px) {
    .feature-box {
      flex: 0 0 23%; } }
  .feature-box__tittle {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 2rem 0;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }
  .feature-box__icon {
    display: block;
    margin: 1rem auto;
    width: 5rem;
    height: 5rem;
    fill: var(--color-secondary); }
  .feature-box__text {
    font-size: 1.6rem;
    text-align: justify; }

.page-section {
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 1rem 0; }

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem; }

.wrapper-flex {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
  flex-wrap: wrap; }

.large-hero {
  height: 95vh;
  position: relative;
  background-image: url(../images/large-hero.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1rem solid var(--color-primary); }
  .large-hero__text-box {
    text-align: center;
    padding: 2rem 4rem;
    margin-top: 10rem; }

.reservation {
  position: relative;
  margin-top: -4.5rem;
  z-index: 99; }
  .reservation__search-form {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 3rem 4.5rem;
    max-width: 117rem;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    .reservation__search-form::before {
      content: '';
      position: absolute;
      top: -1.7rem;
      left: -1.7rem;
      border-left: transparent;
      border-top: transparent;
      border-bottom: #eaeaea;
      border-style: solid;
      border-width: 1.7rem;
      border-right: transparent;
      border-bottom-width: 3.5rem; }
    .reservation__search-form::after {
      content: '';
      position: absolute;
      top: -1.7rem;
      right: -1.7rem;
      border-top: transparent;
      border-right: transparent;
      border-bottom: #eaeaea;
      border-style: solid;
      border-width: 1.7rem;
      border-left: transparent;
      border-bottom-width: 3.5rem; }
  .reservation__list {
    list-style: none;
    display: flex;
    width: 80%; }
  .reservation__item {
    position: relative;
    width: 25%;
    padding: 0 1rem; }
  .reservation__item-input {
    height: 4rem;
    width: 100%;
    min-width: auto;
    line-height: 4rem;
    padding-right: 2rem;
    padding-left: 0.8rem;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1.5rem;
    text-decoration: none;
    color: #7a7a7a;
    box-shadow: none;
    outline: 0; }
  .reservation__item-button {
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    min-width: auto;
    line-height: 4rem;
    color: #aaaaaa;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    outline: 0; }
  .reservation__item-icon {
    padding-right: 1rem; }
  .reservation__button {
    box-shadow: none;
    outline: 0; }

.features {
  padding: 5rem 0;
  background-image: linear-gradient(to right bottom, rgba(var(--color-primary-rgb), 0.85), rgba(var(--color-primary-rgb), 0.85)), url(../images/large-hero--large-2x.jpg);
  background-size: cover;
  background-position: bottom; }
